<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1 ">
    <h1><%= place.name %><br></h1>
    <i><%= place.address %></i><br><br>
    <p><%= place.description %><br></p>
  </div>

<% end %>

<%= will_paginate @places, previous_label: h("< Previous"), next_label: h(" Next >") %>


